:root {
    --bg-color: #dfdfdf;
    --main-text-color: #000;
    --button-main-color: #B60000;
    --button-main-hover-color: #dd7575;
    --link-main-color: #000;
    --link-main-hover-color: #fff;
    --secondary-bg-color: #fff;
  }

body {
  font-family: "Montserrat", sans-serif;
  max-width: 60%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
}

header #selected {
  color: var(--secondary-bg-color);
  font-style: bold;
  background-color: var(--button-main-color);
}

.main-content {
  flex-grow: 1;
}

#paragraphs {
  padding-bottom: 1em;
  padding-top: 3em;
}

#twitterButtonBase,
#twitterButtonContainer {display: none;}
#twitterButtonContainer {width: 100%;}
#twitterButtonContainer #twitterIframe {
  max-width: 61px;
  max-height: 21px;
}

#containerBlock {
  display: inline;
}

.button {
  display: inline;
}

footer {
  color:var(--main-text-color);
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  color: var(--title-color);
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: var(--button-main-hover-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

header a:hover {
  background-color: var(--button-main-hover-color);
  color: var(--secondary-bg-color);
}

.portrait {
  width: 250px;
}

#copyButton {
  display: none;
}

input {
  padding: 8px;
  border-style: none;
}

button {
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  background: var(--button-main-color);
  color: var(--secondary-bg-color);
  padding: 6px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

button:hover {
  background: var(--button-main-hover-color);
}

li {
  padding: 0.3rem;
}

.author {
  display: contents;
}

figcaption {
  text-align: center;
}

.avatar {
  float: right;
  border-radius: 50%;
  border-style: none;
  height: 7rem;
  width: auto;
}

.logo {
  height: 10rem;
}

.quote {
  display: block;
}

#birolipsum:disabled {
  background: var(--secondary-bg-color);
  padding: 10px;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

blockquote {
  margin: 0 auto;
  padding: 1em 1em 1em 0;
}

blockquote:before {
  display: none;
}

blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}

blockquote textarea {
  background-color: var(--secondary-bg-color);
  font-size: 12pt;
  line-height: 1.4;
  font-family: "PT Serif", Cambria, "Hoefler Text", Utopia, "Liberation Serif",
    "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  resize: none;
  border-style: groove;
  border-width: 2pt;
}
blockquote footer {
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 1%;
  color: var(--secondary-bg-color);
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}

blockquote footer:before {
  content: "— ";
}

blockquote:nth-of-type(odd) {
  border-left: none;
}

blockquote:nth-of-type(odd) footer {
  color: var(--main-text-color);
}

blockquote:nth-of-type(odd) footer:before {
  content: "— ";
}

blockquote:nth-of-type(odd) footer:after {
  content: "";
}

a,
a:visited {
  color: var(--link-main-color);
}

a:hover {
  color: var(--link-main-hover-color);
}

@media (max-width: 700px) {
  .avatar {
    border-radius: 50%;
    height: 5rem;
    width: auto;
  }

  h1 {
    font-size: 44px;
    margin-bottom: 16px;
  }

  .menu {
    font-size: 14px;
    margin-bottom: 16px;
  }

  footer {
    font-size: 80%;
  }

  img {
    display: none;
  }

  #paragraphs {
    padding-right: 0;
  }
}
