body {
  color: #d2cece;
  font-family: "Montserrat", sans-serif;
  max-width: 60%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #492378;
}

img {
  border: 1px solid #ddd;
}

header #selected {
  color: white;
  font-style: bold;
  background-color: #8c43e6;
}

.main-content {
  flex-grow: 1;
}

#twitterButtonBase,
#twitterButtonContainer {display: none;}
#twitterButtonContainer {width: 100%;}
#twitterButtonContainer #twitterIframe {
  max-width: 61px;
  max-height: 21px;
}

#containerBlock {
  display: inline;
  text-align: right;
}

.button {
  display: inline;
}

footer {
  color: #b8b8b8;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #7638c2;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

header a:hover {
  background-color: #7638c2;
  color: white;
}

.portrait {
  width: 250px;
}

#copyButton {
  display: none;
}

input {
  padding: 8px;
  border-style: none;
}

button {
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  background: #7638c2;
  color: white;
  padding: 6px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

button:hover {
  background: #8c43e6;
}

li {
  padding: 0.3rem;
}

.author {
  display: contents;
}

figcaption {
  text-align: center;
}

.avatar {
  float: right;
  border-radius: 50%;
  border-style: none;
  height: 7rem;
  width: auto;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.48);
}

.logo {
  height: 10rem;
}

.quote {
  display: block;
}

#birolipsum:disabled {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

blockquote {
  margin: 0 auto;
  padding: 1em 1em 1em 0;
  border-right: 5px solid #999 !important;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}
blockquote textarea {
  color: #555;
  background-color: white;
  font-size: 12pt;
  line-height: 1.4;
  font-family: "PT Serif", Cambria, "Hoefler Text", Utopia, "Liberation Serif",
    "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  resize: none;
  border-style: none;
  -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.19);
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.19);
}
blockquote footer {
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 1%;
  color: white;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: "— ";
}
blockquote:nth-of-type(odd) {
  text-align: right;
  border-left: none;
}
blockquote:nth-of-type(odd) footer {
  text-align: right;
}
blockquote:nth-of-type(odd) footer:before {
  content: "";
}
blockquote:nth-of-type(odd) footer:after {
  content: " —";
}

a,
a:visited {
  color: #d168ff;
}

a:hover {
  color: #b850ff;
}

@media (max-width: 700px) {
  .avatar {
    border-radius: 50%;
    height: 5rem;
    width: auto;
  }

  h1 {
    font-size: 44px;
    margin-bottom: 16px;
  }

  .menu {
    font-size: 14px;
    margin-bottom: 16px;
  }

  form {
    padding-left: 20%;
  }

  footer {
    font-size: 80%;
  }
}
