body {
  color: #333333;
  font-family: arial;
  max-width: 60%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  border: 1px solid #ddd;
}

header #selected {
  color: black;
  font-style: bold;
}

.main-content {
  flex-grow: 1;
}

#twitterButtonBase {
  display: inline;
}

#containerBlock {
  display: inline;
  text-align: right;
}

.button {
  display: inline;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

header a:hover {
  opacity: 0.7;
}

.portrait {
  width: 250px;
}

#copyButton {
  display: none;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}

li {
  padding: 0.3rem;
}

.author {
  display: contents;
}

figcaption {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  height: 7rem;
  width: auto;
}

.logo {
  height: 10rem;
}

.quote {
  display: block;
}

#birolipsum:disabled {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

blockquote {
  margin: 0 auto;
  padding: 1em 1em 1em 0;
  border-right: 5px solid #999 !important;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}
blockquote textarea {
  color: #555;
  background-color: white;
  font-size: 12pt;
  line-height: 1.4;
  font-family: "PT Serif", Cambria, "Hoefler Text", Utopia, "Liberation Serif",
    "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  resize: none;
}
blockquote footer {
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 1%;
  color: #777;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: "— ";
}
blockquote:nth-of-type(odd) {
  text-align: right;
  border-left: none;
}
blockquote:nth-of-type(odd) footer {
  text-align: right;
}
blockquote:nth-of-type(odd) footer:before {
  content: "";
}
blockquote:nth-of-type(odd) footer:after {
  content: " —";
}
 
@media (max-width: 700px) {
  .avatar {
    border-radius: 50%;
    height: 5rem;
    width: auto;
  }
  
  h1 {
    font-size: 44px;
    margin-bottom: 16px;
  }

  .menu {
    font-size: 14px;
    margin-bottom: 16px;
  }

  form {
    padding-left: 20%;
  }

  footer {
    font-size: 80%;
  }
}
